#paper {
  border: 5px solid #4b4b4b;
  border-radius: 5%;
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  float: left;
  display: inline;
}

#rock {
  border: 5px solid #4b4b4b;
  border-radius: 5%;
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  float: left;
  display: inline;
}

#scissors {
  border: 5px solid #4b4b4b;
  border-radius: 5%;
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  float: left;
  display: inline;
}
